.center {
    display: flex;
    justify-content: center;
    color: rgb(36, 36, 36);
    margin-top: 200px;
}
table ,th ,tr{
    border: 2px solid #e3e3e3;
  }
.heading th{
    padding: 10px;
    background-color:#e3e3e3 ;
}
.tdDetails td,td{
    padding: 10px;
}